.nav-link{
    color: black!important;
}
.servicios-content img{
    width:800px;
}
.titulo-nosotros{
    height: fit-content;
}

.servicios-title,.servicios-section{
    padding:0 80px 0 80px;
}
.servicios-title{
    height: fit-content;
}

.servicios-section{
    height: fit-content;
    overflow-x: hidden;
}
.servicios-banner{
    background-image: url(/img/servicios/nosotros2.jpg);
    background-size: contain;
    width:100%;
    height: 350px;
    overflow: hidden;
    padding-top: 50px;
}

.servicios-content{
    display: flex; 
    font-size: 20px;
    padding-top: 100px;
}

.servicios-content-contactanos{
    padding-left: 20px;
    padding-right: 20px;
    transform: translateX(100px);
    opacity: 0;
    transition: all 1s ease-in-out;
}
.servicios-content>img{
    transform: translateX(-100px);
    opacity: 0;
    transition: all 1s ease-in-out;
}

.servicios-content-back div,.servicios-content-back>img, .servicios-faq-back>div{
    transform: translateX(0);
    opacity: 1;
}

.servicios-faq-back .faq-img {
    transform: translateY(0);
    opacity: 1;
}

.servicios-content-contactanos-subt{
    font-weight: bold;
    text-transform: uppercase;
    font-family: Gotham;
    letter-spacing: 0.5px;
    
    
}
.servicios-content-faq{
    display: flex;
    padding-top: 100px;
    
}
.servicios-content-faq-content{
    padding-left: 20px;
    padding-right: 20px;
    font-size: 20px;
    transform: translateY(100px);
    opacity: 0;
    transition: all 1s ease-in-out;
}
.servicios-content-faq img{
    transform: translateY(-100px);
    opacity: 0;
    transition: all 1s ease-in-out;
    
}


.bold {
    text-transform: uppercase;
    font-family: Gotham;
    letter-spacing: 0.5px;
    line-height: 20px;
}
.servicios-content-sellos{
    display: flex;
    justify-content: center;
    padding-top: 100px;

}

.servicios-content-sellos img{
    width: 200px;
    height: 200px;
}
.servicios-content-sellos img:first-child{
    width: 300px;
    height: 200px;
}

@media (max-width:991px){
    .nav-link{
        color: white!important;
    }
    .servicios-banner{
        background-size:auto;
    }
    .titulo-nosotros-span-rotate{
        font-size: 40px;
    }
    .landing-hover{
        color: white;
    }
    .bg-light{
        background-color: #151515!important;
    }
    .servicios-section{
        padding: 0 0 0 0;
    }
    .servicios-content{
        flex-wrap: wrap;
    }
    .servicios-content img{
        width: 100%;
    }
    .servicios-content-faq{
        flex-wrap: wrap;
    }
}
