@font-face
{
    font-family: Garamond2;
    src: url(../font/garamond-premier-pro-display_PsgQt/Garamond-Premier-Pro-Display/);

    font-family: Gotham1;
    src: url(../font/Gotham-Font/Gotham-Font/Gotham-Light.otf);
}


body{
    margin: 0;
    padding: 0;
    background: #000;;   
    background-size: cover;
    background-position: center;
    font-family: Gotham1;
}
h1{
    margin-top: 10%;
    color: #fff;
    text-align: center;
}