*{
    font-family: Gotham;
}
body{
    background-image: url(../img/Nosotros/contacto.jpeg);
    background-attachment: fixed;
    position: relative;
}
body::before{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.3);
}


.contacto-h1-div{
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    color:goldenrod;
}
h1{
    font-size: 100px;
    position: relative;
    z-index: 10;
}

.contacto-info{
    display: flex;
    flex-wrap: wrap;
    height: 80vh;
    background-color:black;
    gap: 5%;
    justify-content: center;
    align-items: center;
}

.izquierda {
    display: flex;
    position: relative; 
    align-items: center;
    justify-content: center;
    background-image: url(../img/Proyecto/Proyecto-Azul/carrousel-proyectoAzul.jpg);
    background-size: contain;
    background-attachment: fixed;
    width: 45%;
    height: 90%;
    z-index: 10;
}
.izquierda::before{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
}
.contacto-info-div-contenido, .contacto-info-div-contenido-dos{
    position: relative;
    z-index: 10;
    text-align: start;
    padding: 20px;
    color: white;
    width: 90%;
    background-color: rgba(0,0,0,0.8);
    border-radius: 5px;
}
.derecha{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 45%;
    height: 90%;
    background-image:url(../img/Proyecto/Proyecto-Azul/principal-proyectoAzul.jpg);
    background-size: contain;
    background-attachment: fixed;
}

.contacto-info-div-contenido-dos{
    display: flex;
    flex-direction: column;
    height: 90%;
}

.contacto-info-div-contenido-dos>p{
    text-align: center;
    font-size: 40px;
    padding: 10px;
}
.contacto-info-div-contenido-dos>p>span{
    color: gold;
}

.contacto-info-div-contenido-dos p:nth-child(2),.contacto-info-div-contenido-dos p:nth-last-child(1){
    text-align: start;
    font-size: 20px;
    padding: 10px;
}

@media (max-width:500px){
    .contacto-h1-div{
        height: 100vh;
        
    }
    .titulo-nosotros-span-rotate{
        margin-top: 0px;
    }
    .contacto-info{
        height: 150vh;
    }
    .contacto-info>div{
        width: 100%;
        background-size: cover;
    }
    .contacto-info>div:nth-child(1){
        margin-top: 50px;
        height: 60vh;
    }
    .contacto-info>div:nth-child(2){
        height: 90vh;
        
    }
    .contacto-info-div-contenido-dos>p{
        font-size: 30px;
    }
}