@font-face
{
    font-family: Garamond2;
    src: url(../font/garamond-premier-pro-display_PsgQt/Garamond\ Premier\ Pro\ Display/);
}

body {
   font-family: Garamond2;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}


.container_2,.container_1 {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    height: 100vh;
    width: 100%;
    padding: 0; 
    margin: 0; 
    
}

.left-column, .right-column {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    padding: 0;
    margin: 0;
    flex: 1;
    height: 100%;
    width: 100%;

}
.right-column{
    padding-right: 0.5%;
}



.image-box {
    overflow: hidden;
    cursor: pointer;
    transition: background-color 0.3s;
    position: relative;
    width: 100%;
    height: 100%;
    padding-bottom: 0.5%;
    padding-top: 0.5%;
}

#image-box-1,#image-box-4 {
    width: 100%;
    height: 100%;
}


#image-box-2, #image-box-3 ,#image-box-5,#image-box-6 {
    width: 100%;
    height: 50%;
}

.image-box img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.project-title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #000000;
    font-size: 24px;
    font-weight: bold;
    opacity: 0;
    transition: opacity 0.3s;
}

.image-box:hover {
    background-color: rgba(0, 0, 0, 0.7);
}

.image-box:hover .project-title {
    opacity: 1;
}

.image-box:hover::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(252, 252, 252, 0.5); 
    z-index: 1;
}


.image-box:hover .project-title {
    opacity: 1;
    z-index: 2; 
}




.project-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    background-color: #ffffff;
  }
  
  .project-info {
    margin-top: 5%;

  }
  
  .project-image img {
    max-width: 100%;
    max-height: 100%;
  }

  .project-image img {
    width: 60%;
    height: 100%;
    transition: filter 0.3s;
    filter: grayscale(100%);
}

  
  
  .project-image {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 20px;
    object-fit: cover;
    position: relative;
    overflow: hidden;
  }
.project-description {
    text-align: center;
    max-width: 40%; 
    margin-top: 1%; 
  }


.project-info h1{
  
        margin-bottom: 2%;
        padding-left: 2.5%;
      
}
.project-column {
    column-count: 2; 
    
  }

  .project-info p {
    margin: 0;
  }

  .left-column_1, .right-column_1 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    padding: 0;
    margin: 0;
    flex: 1;
    height: 100%;
    width: 100%;

}
  .left-column_1 {
    float: left;
    padding-bottom: 5%;
    padding-left: 5%;
  }

  .right-column_1 {
    float: right;
    margin-right: 60%;
    padding-bottom: 5%;
    padding-left: 5%;
  }




/* Estilos CSS omitidos para simplificar */

/* Clase para aplicar la transición de deslizamiento hacia arriba (slide-up) */
.project-image.visible,
.project-description.visible {
    opacity: 1;
    transform: none;
    transition: opacity 1s ease, transform 1s ease; /* Ajustamos la duración de la transición a 0.5 segundos */
}

.project-image {
    opacity: 0;
    transform: translateY(30%);
}

.project-description {
    opacity: 0;
    transform: translateX(50%);
}


.project-img_column{
    column-count: 2;
    
}


.project-img_column {
    display: flex;
    justify-content: center;
    align-items: center;
}

#project-image_2
{
    width: 50%; /* Puedes ajustar el ancho de las imágenes */
    margin: 1%;
}


#project-image_2 img {
    width: 100%;
    height: auto;
}

#project-image_3
{
    width: 50%; /* Puedes ajustar el ancho de las imágenes */
    margin: 1%;
}


#project-image_3 img {
    width: 50%;
    height: 100%;
}

