*{
    font-family: Gotham;
    text-transform: uppercase;
    box-sizing: border-box;
}

body{
    background-color:#151515;
    background-attachment: fixed;
    position: relative;
}



.contact-container{
    display: flex;
    flex-wrap: wrap;
    max-width: 100vw;
    overflow: hidden;
    padding-top: 100px;
}

#contact-img{
    width: 100%;
}
.derecha{
    width: 100%;
    height: 100vh;
    padding: 50px;
}
.contact-info-div .derecha{
    display: flex;
}
.contact-data-container{
    color: white;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    border-top:1px solid grey;
}
.contact-data, .contact-data-text{
    color: white;
    font-size: 12px;
    padding-bottom: 100px;
}
.contact-data-column{
    width: 33%;
    font-size: 12px;
    padding-top: 10px;
}

.titulo-nosotros-span-rotate{
    font-size: 60px;
    color: white;
}

.footer-link{
    position: relative;
    z-index: 5;
}


@media (max-width:500px){

    .contact-container{
    height: 180vh;
    }
    .titulo-nosotros-span-rotate{
        margin-top: 0px;
        font-size: 40px;
    }
    .contact-info{
        height: 140vh;
    }
    .contact-info>div{
        width: 100%;
        background-size: cover;
    }
    .contact-info>div:nth-child(1){
        margin-top: 50px;
        height: 60vh;
    }
    .contact-info>div:nth-child(2){
        height: 90vh;
        
    }
    .contact-info-div-contenido-dos>p{
        font-size: 30px;
    }
.contact-h1-div{
height: fit-content;
}
.contact-data-column{
    width: 100%;
}

}

@media only screen and (min-width:500px) and (max-width:991px){
    .contact-img-div{
        width: 100%;
    }
    .contact-info-div{
        width: 100%;
    }
    .contact-data-column{
        width: 100%;
    }
    .contact-h1-div{
        height: 20vh;
    }

    .derecha{
        height: 150vh;
    }
}