:root{
    --color1:rgb(103,151,151);
    --color2:rgb(176,201,201);
    --color3:rgb(53,78,78);
    --color4:rgb(132,156,148);
    --color5:rgb(180,204,204);
    --black:rgb(33, 37, 41);
}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    letter-spacing: 0.5px;
}
@font-face
{
    font-family: Gotham;
    src: url(../font/Gotham-Font/Gotham-Font/Gotham-Light.otf);
}

::-webkit-scrollbar {
	background: white;
    width: 5px;
}


::-webkit-scrollbar-thumb {
	background: var(--black);
	border-radius: 10px;
	border: 1px solid grey;
}



.landing-hover {
    margin: 0;
    padding: 0;
    display: inline-block;
    text-transform: uppercase;
    font-family: Gotham;
    letter-spacing: 0.5px;
    line-height: 20px;
    opacity: 0;
    transition: all .5s ease;
}



.navbar:hover .landing-hover{
    opacity:1;
}
.navbar-toggler,.collapsed {
    border:none;
    text-decoration: none;
    outline: 0;
    box-shadow: none;
    
}
.navbar-toggler:focus{
    border:none;
    text-decoration: none;
    outline: 0;
    box-shadow: none;
}
.navbar-nav{
    display: flex;
    width: 100%;
    justify-content: space-around;
}


.carousel-caption{
    bottom: 5%!important;
    left:5%;
    width: 85vw;
    height: 60vh;
    display: flex;
    flex-direction: column;
    text-align: start;
}
.carousel-control-next, .carousel-control-prev{
    width: 5%;
}
.carousel-caption-hover{ 
    font-size: 2rem;
    text-transform: uppercase;
    font-family: Gotham;
    letter-spacing: 0.5px;
    transition: all .5s ease;
    width: 100%;
    height: 15vh;
}
.carousel-caption:hover .landing-hover{
    opacity: 1;
}
body{
    background: f1fbff;
}

.section-padding{
    padding: 100px 0;
}

.carousel-caption{
    z-index:2;
}


.navbar-nav a{
    text-transform: uppercase;
    font-family: Gotham;
    letter-spacing: 0.5px;
    line-height: 20px;
}

.navbar-light .navbar-brand{
    color: #000;
    font-size:25px;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 2px;
}

.navbar-light .navbar-brand:focus,
.navbar-light .navbar-brand:hover {
    color:#000;

}

.navbar-light .navbar-nav .navbar-link{
    color: #000;
}

.w-100{
    height: 100vh;
}
.lead{
    font-size:16px;
}
.services .card-body i{
    font-size: 50px;
}

.img-fluid{
    height: 50vh;
}

.rounded-circle{
    height: 20vh;
}

.portfolio .card{
    box-shadow:15px 15px 40px rgba(0,0,0,0.15);
}

.team .card{
    box-shadow:15px 15px 40px rgba(0,0,0,0.15);
}
@media only screen and (min-width:768px) and (max-width:991px){
    .navbar-toggler-icon{
        background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255,28255, 28255, 1%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
    }
    .navbar-nav{
        text-align: center;
    }
    .carousel-caption{
        bottom: 200px;
    }

    .carousel-caption p{
        width: 100%;
    }
    .card{
        margin-bottom:30px;
    }
    .img-area img{
        width: 100%;
    }
}
@media only screen and (max-width:767px){

    .navbar-toggler-icon{
        background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255,28255, 28255, 1%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
    }
    .navbar-nav{
        text-align: center;
    }
    .carousel-caption{
        bottom: 15%!important;
        left: 10%;
        word-break: keep-all;
    }
    .carousel-caption-hover{
        font-size: 1.1em;
        word-break: keep-all;
    }
    

    .card{
        margin-bottom:30px;
    }
    .img-area img{
        width: 100%;
    }
    .about-text{
        padding-top:50px;
    }
}





.footer-link{
    font-size: 13px;
    text-transform: uppercase;
    font-family: Gotham;
    letter-spacing: 0.5px;
    line-height: 20px;
    text-decoration: none;
    color:lightgray;
}
.footer-copyright{
    font-size: 13px;
    font-family: Gotham;
    text-transform: uppercase;
    color:lightgray;
}

