

:root{
    --color1:rgb(103,151,151);
    --color2:rgb(176,201,201);
    --color3:rgb(53,78,78);
    --color4:rgb(132,156,148);
    --color5:rgb(180,204,204);
    --black:rgb(33, 37, 41);
}
*{
    font-family: Gotham;
}
/* ESTILO DE LA SECCION NOSOTROS*/

.nosotros-section{
    position: relative;
    background-image: url(../img/Nosotros/20190802_101130.jpg);
    background-size: cover;
    height: fit-content;
    overflow: hidden;
}
.nosotros-section::before{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(33, 37, 41,0.5);
}

/* ESTILO Y ANIMACIONES DE "NOSOTROS" */
.titulo-nosotros-contenedora{
    display: flex;
    justify-content: center;
    margin-top: 4em;
}
.titulo-nosotros{
    position: relative;
    font-family: Gotham;
    height: 100px;
    text-transform: uppercase;
    

}
.titulo-nosotros-span-hidden{

    overflow: hidden;
}
.titulo-nosotros-span-translate
{
    transform: translateY(-120px);
    transition: all 1s;
}
.titulo-nosotros-span-rotate{
    transform: rotateZ(-25deg);
    transition: all 1s;
    opacity: 0;
    color: white;
    font-size: 100px;
    font-weight: 800;
}
.titulo-nosotros-span-translate-back{
    transform: translate(0);
}
.titulo-nosotros-span-rotate-back{
    transform: rotateZ(0);
    opacity: 1;
}

/* CONTENIDO DE LA SECCION: FILOSOFIA*/

.nosotros-content-one, .nosotros-daniel-translate, .nosotros-content-valores>div, .nosotros-services{
    font-size: 15px;
    color: white;
    text-transform: uppercase;
    font-family: Garamond2;
    padding: 10px;
}

.nosotros-content-one{
    margin-top:11em; 
}

.nosotros-content-one-title{
    font-size: 50px;
}

/*Seccion Nosotros dos */
.nosotros-section-two{
    display: flex;
    position: relative;
    flex-direction: column;
    padding: 20px;
}
.daniel-content{
    display: flex;

}

.imagen2{
    opacity: 0;
    transform: translateX(-80px);
    transition: all 1s;

}

.nosotros-daniel-translate{
    transform: translateX(80px);
    opacity: 0;
    transition: all 2s ease;
    background-color: rgba(0,0,0,0.3);
    border-radius: 5px;
    width: 330px;
    
}
.nosotros-content-valores>div{
    margin-top: 100px;
    transform: translateX(-80px);
    opacity: 0;
    transition: all 1s;
    background-color: rgba(0,0,0,0.3);
    border-radius: 5px;

}


.nosotros-services{
    margin-top: 50px;
    background-color: rgba(0,0,0,0.3);
}
.nosotros-imagen-contenedora img {
    width: 100%;
    object-fit: cover;
    opacity: 0.8;
    border-radius: 15px;
}
.nosotros-imagen-contenedora {
    grid-column: 7 / 11;
    grid-row: 2 / 6;
    width: 350px;
}



/*REPONSIVE*/


@media (max-width:768px){
    .daniel-content{
        flex-wrap: wrap;
}
.titulo-nosotros{
    font-size: 80px;
}
}

@media (max-width: 1000px){
    .nosotros-daniel-translate{
        transform: translateX(-200px);
    }
.servicios {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: fit-content;
    width: 100%;
}
.servicio {
    width: 30em;
    margin-bottom: 1rem;
}
}



@media (max-width: 1500px){
.nosotros-imagen-contenedora {
    grid-row: 3 / -1;
}}






/*TRASLACIONES DE LOS TEXTOS DE LA SEGUNDA SECCION DE NOSOTROS*/





.traslacion-izq-der{
    transform: translateX(-100px);
    opacity: 0;
    transition:visibility 1s, opacity 2s, transform 1s; 
}
.izq{
    transform: translateX(100px);
    opacity: 0;
    transition:visibility 1s, opacity 2s, transform 1s;
}
.izq-lento{
    transform: translateX(100px);
    opacity: 0;
    transition:visibility 1s, opacity 2s, transform 2s;
}
.dos{
    transform: translateX(-100px);
    opacity: 0;
    transition:visibility 1s, opacity 2s, transform 2s;
    
}
.derVuelve>div, .derVuelve>p{
    transform: translateX(0px);
    padding-left: 10px;
    opacity: 1;
}
.derVuelve{
    border-radius: 15px;
    transition: all 5s ease;
    opacity: 1;
}


.team{
    overflow-x: hidden;
}
.card-contenedora-img img{
    width: 300px;
    transform: translateX(-500px);
    opacity: 0;  
}
#imagen2{
    border-radius: 10px;
    width: 360px;
}
.visible img{
    transform:translateX(0px);
    opacity: 0;
}

.nosotros-content-one-movement{
    transform: translateX(100px);
    opacity: 0;
    transition: all 3s ease;
    background-color: rgba(0,0,0,0.3);
    border-radius: 5px;
    padding: 10px;
}



.atras,.atras>div{
    transform: translateX(0px);
    opacity: 1;
}
@media (max-width: 500px){

    .titulo-nosotros-span-rotate{
        font-size: 55px;
        margin-top: 100px;
    }
    #imagen2{
        width: 330px;
    }
    .row
    {
        width: 100%;
    }
    .servicios{
            row-gap: 2rem;
    }
    .servicio {
        width: 18rem;
    }
    }