

:root{
    --color1:rgb(103,151,151);
    --color2:rgb(176,201,201);
    --color3:rgb(53,78,78);
    --color4:rgb(132,156,148);
    --color5:rgb(180,204,204);
    --black:rgb(33, 37, 41);
}
*{
    font-family: Gotham;
    color: black;
}


/* ESTILO DE LA SECCION NOSOTROS*/

.nosotros-section{
    position: relative;
    background-color: whitesmoke;
    background-size: cover;
    height: fit-content;
    overflow: hidden;
}

/* ESTILO Y ANIMACIONES DE "NOSOTROS" */
.titulo-nosotros-contenedora{
    display: flex;
    justify-content: center;
    margin-top: 4em;
}
.titulo-nosotros{
    position: relative;
    font-family: Gotham;
    height: 100px;
    text-transform: uppercase;
}
.titulo-nosotros-span-hidden{
    overflow: hidden;
}
.titulo-nosotros-span-translate
{
    transform: translateY(-120px);
    transition: all 1s;
}
.titulo-nosotros-span-rotate{
    transform: rotateZ(-25deg);
    transition: all 1s;
    opacity: 0;
    color: black;
    font-size: 60px;
    font-weight: 800;
}
.titulo-nosotros-span-translate-back{
    transform: translate(0);
}
.titulo-nosotros-span-rotate-back{
    transform: rotateZ(0);
    opacity: 1;
}

/* CONTENIDO DE LA SECCION: FILOSOFIA*/
.nosotros-section{
    padding:0 80px 0 80px;
}
.nosotros-content {
    height: 70vh;
    border: 1px solid yellow;
}
.nosotros-content-one{
    height: 100%;
    border: 1px solid black;
}
.nosotros-content-one, .nosotros-daniel-translate, .nosotros-content-valores>div, .nosotros-services{
    font-size: 15px;
    color: black;
    text-align: justify;
    font-size: Garamond2;
}


.nosotros-content-one-title{
    font-size: 50px;
    text-transform: uppercase;
    padding-left: 20px;
}

/*Seccion Nosotros dos */
.nosotros-section-two{
    display: flex;
    position: relative;
    flex-direction: column;
}
.daniel-content{
    display: flex;
    flex-wrap: wrap;
    height: 90vh;
    border: 1px solid red;
}
.nosotros-daniel-translate div{
    padding-top: 20px;
    padding-left: 20px;
}
h4{
    text-transform: uppercase;
}

.imagen2{
    opacity: 0;
    transform: translateX(-80px);
    transition: all 1s;
    width: 330px;
}

.nosotros-daniel-translate{
    transform: translateX(80px);
    opacity: 0;
    transition: all 2s ease;
    border-radius: 5px;
    width: 700px;
}
.nosotros-content-valores{
    height: 70vh;
    border: 1px solid purple;
    text-align: justify;
}
.nosotros-content-valores>div{
    margin-top: 100px;
    transform: translateX(-80px);
    opacity: 0;
    transition: all 1s;
    
    border-radius: 5px;
}


.nosotros-services{
    margin-top: 50px;
}
.nosotros-imagen-contenedora img {
    width: 100%;
    object-fit: cover;
    opacity: 0.8;
    border-radius: 15px;
}
.nosotros-imagen-contenedora {
    grid-column: 7 / 11;
    grid-row: 2 / 6;
    width: 350px;
}



/*REPONSIVE*/


@media only screen and (min-width:500px) and (max-width:768px){
    .daniel-content{
        flex-wrap: wrap;
        height: fit-content;
}
.titulo-nosotros{
    font-size: 80px;
}
.nosotros-daniel-translate{
    width: 330px;
}
}

@media (max-width: 1000px){

    .daniel-content{
        height: fit-content;
    }
    .nosotros-daniel-translate{
        transform: translateX(-200px);
    }
.servicios {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: fit-content;
    width: 100%;
}
.servicio {
    width: 30em;
    margin-bottom: 1rem;
}
}



@media (max-width: 1500px){
.nosotros-imagen-contenedora {
    grid-row: 3 / -1;
}}






/*TRASLACIONES DE LOS TEXTOS DE LA SEGUNDA SECCION DE NOSOTROS*/





.traslacion-izq-der{
    transform: translateX(-100px);
    opacity: 0;
    transition:visibility 1s, opacity 2s, transform 1s; 
}
.izq{
    transform: translateX(100px);
    opacity: 0;
    transition:visibility 1s, opacity 2s, transform 1s;
}
.izq-lento{
    transform: translateX(100px);
    opacity: 0;
    transition:visibility 1s, opacity 2s, transform 2s;
}
.dos{
    transform: translateX(-100px);
    opacity: 0;
    transition:visibility 1s, opacity 2s, transform 2s;
    
}
.derVuelve>div, .derVuelve>p{
    transform: translateX(0px);
    opacity: 1;
}
.derVuelve{
    border-radius: 15px;
    transition: all 5s ease;
    opacity: 1;
}


.team{
    overflow-x: hidden;
}
.card-contenedora-img img{
    width: 300px;
    transform: translateX(-500px);
    opacity: 0;  
}
#imagen2{
    border-radius: 10px;
    width: 360px;
}
.visible img{
    transform:translateX(0px);
    opacity: 0;
}

.nosotros-content-one-movement{
    transform: translateX(100px);
    opacity: 0;
    transition: all 3s ease;  
    border-radius: 5px;
}



.atras,.atras>div{
    transform: translateX(0px);
    opacity: 1;
}
@media (max-width: 500px){
    .nav-link{
        color: white;
    }
    .landing-hover{
        color: white;
    }
    .nosotros-section{
        padding: 0;
    }
    .titulo-nosotros-span-rotate{
        font-size: 55px;
        margin-top: 100px;
    }
    #imagen2{
        width: 330px;
    }
    .nosotros-content{
        height: fit-content;
    }
    .nosotros-daniel-translate{
        width: 330px;
    }
    .nosotros-content-one{
        padding-top:200px;
    }
    .nosotros-content-valores{
        height: fit-content;
    }
    }

    .bold{
        font-weight: bold;
    }